<ion-header [translucent]="true">
  <!-- <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none; margin-top: 80px;">
    <ion-card-header>
      <ion-card-title>
        Mediciones {{ username }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-content>
      <ion-item color="light">
        <p>Peso: {{ peso }}kg</p>
      </ion-item>
      <ion-item color="light">
        <p>Talla: {{ talla }}cm</p>
      </ion-item>
      <ion-item color="light">
        <p>IMC: {{imc}} </p>
      </ion-item>
      <ion-item color="light">
        <p>Masa muscular: {{ musculo_porc }}%</p>
      </ion-item>
      <ion-item color="light">
        <p>Masa grasa: {{ grasa_porc }}%</p>
      </ion-item>
      <ion-item color="light">
        <p>Estado nutricional: {{ estado_nutricional }}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>