<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none;">
    <ion-card-header>
      <ion-card-title>
        Mediciones
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-content>
      <ion-item color="light">
        <p>Peso: 70kg</p>
      </ion-item>
      <ion-item color="light">
        <p>Talla: 1.72cm</p>
      </ion-item>
      <ion-item color="light">
        <p>IMC: 24</p>
      </ion-item>
      <ion-item color="light">
        <p>Masa muscular: 45%</p>
      </ion-item>
      <ion-item color="light">
        <p>Masa grasa: 20%</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>