<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;"></ion-back-button>
    </ion-button>
    <ion-title>home2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/crear-usuario']">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>