<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
    <div slot="end" color="light"
      style="width: 80px; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 18px;"
      (click)="salir()">Salir
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-router-outlet></ion-router-outlet>

</ion-content>