<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver">volver</ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none;">
    <ion-card-header>
      <ion-card-title>
        Resumen clínico {{ username }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <app-camara></app-camara>

  <ion-card color="light">
    <ion-card-content>
      <ion-item color="light" style="margin-bottom: 10px; ">
        <p>Usuario: {{ nombre }} {{ apellido }} </p>
      </ion-item>
      <ion-item color="light" style="margin-bottom: 10px; ">
        <p>Diagnóstico: Paciente sexo {{ sexo }}, estado nutricional {{estado_nutricional}} según imc de
          {{ imc }}. Presenta un {{ grasa_porc}}% de grasa corporal, y un {{ musculo_porc }}% de masa muscular.</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/resumen']">
        <ion-icon name="fitness-outline"></ion-icon>
        Resumen
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home/plan-nutricional']">
        <ion-icon name="fast-food-outline"></ion-icon>
        Plan
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home/mediciones']">
        <ion-icon name="scale-outline"></ion-icon>
        Mediciones
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home/datos-personales']">
        <ion-icon name="person-outline"></ion-icon>
        Datos personales
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>