<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none;">
    <ion-card-header>
      <ion-card-title>
        Datos personales
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-content>
      <ion-item color="light">
        <ion-input label="Nombre:" value="Nombre usuario"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Constraseña:" type="password" value=""></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Correo:" type="email" value=""></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Fecha de nacimiento:" value=""></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Sexo:" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>