<ion-header [translucent]="true">
  <!-- <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none; margin-top: 80px;">
    <ion-card-header>
      <ion-card-title>
        Datos personales {{username}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-content>
      <ion-item color="light">
        <ion-input label="Nombre:" placeholder="nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Apellido:" placeholder="apellido" [(ngModel)]="apellido"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Constraseña:" type="password" placeholder="contraseña" [(ngModel)]="clave"
          maxlength="4"></ion-input>
      </ion-item>
      <ion-item color="light">
        <ion-input label="Correo:" type="email" placeholder="correo" [(ngModel)]="correo"></ion-input>
      </ion-item>

      <!-- <ion-item color="light">
        <p>Fecha nacimiento: </p>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ion-item> -->

      <!-- <ion-item color="light">
        <ion-select label="Sexo" label-placement="fixed" [(ngModel)]="sexo">
          <ion-select-option value="hombre">Hombre</ion-select-option>
          <ion-select-option value="mujer">Mujer</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </ion-item> -->
    </ion-card-content>

  </ion-card>


  <ion-card color="light" style="box-shadow: none; display: flex;">
    <ion-button (click)="actualizar()" color="primary" style="width: 80%; margin: 20px auto 0 auto;">Actualizar
      datos</ion-button>
    <!-- <button mat-flat-button color="primary" style="width: 48%;" (click)="limpiar()">Limpiar</button> -->
  </ion-card>

  <!-- <ion-alert trigger="present-alert" header="Datos usuario" message="{{verDatos()}}"
    [buttons]="alertButtons"></ion-alert> -->

</ion-content>