<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none;">
    <ion-card-header>
      <ion-card-title>
        Plan nutricional
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Desayuno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox labelPlacement="end" class="checkbox-checked">Carbohidratos: {{ usuarioPlan.desCarbos
        }}</ion-checkbox>
      <ion-checkbox labelPlacement="end" class="checkbox-checked">Proteinas: {{ usuarioPlan.desProte }}</ion-checkbox>
      <ion-checkbox labelPlacement="end" class="checkbox-checked">Lácteos: {{ usuarioPlan.desLacteos }}</ion-checkbox>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Almuerzo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox labelPlacement="end">Carbohidratos: {{ usuarioPlan.almCarbos
        }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Proteinas: {{ usuarioPlan.almProte }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Verduras: {{ usuarioPlan.almVerduras }}</ion-checkbox>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Cena</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox labelPlacement="end">Carbohidratos: {{ usuarioPlan.cenCarbos }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Proteína: {{ usuarioPlan.cenProte
        }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Verduras: {{ usuarioPlan.cenVerduras }}</ion-checkbox>
    </ion-card-content>
  </ion-card>

</ion-content>