<ion-header [translucent]="true">
  <!-- <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card color="light" style="box-shadow: none; margin-top: 80px;">
    <ion-card-header>
      <ion-card-title>
        Plan nutricional {{username}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Desayuno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox labelPlacement="end" class="checkbox-checked">Carbohidratos: {{ usuarioPlan.desCarbos
        }}</ion-checkbox>
      <ion-checkbox labelPlacement="end" class="checkbox-checked">Proteinas: {{ usuarioPlan.desProte }}</ion-checkbox>
      <ion-checkbox labelPlacement="end" class="checkbox-checked">Lácteos: {{ usuarioPlan.desLacteos }}</ion-checkbox>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Almuerzo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox labelPlacement="end">Carbohidratos: {{ usuarioPlan.almCarbos
        }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Proteinas: {{ usuarioPlan.almProte }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Verduras: {{ usuarioPlan.almVerduras }}</ion-checkbox>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Cena</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-checkbox labelPlacement="end">Carbohidratos: {{ usuarioPlan.cenCarbos }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Proteína: {{ usuarioPlan.cenProte
        }}</ion-checkbox>
      <ion-checkbox labelPlacement="end">Verduras: {{ usuarioPlan.cenVerduras }}</ion-checkbox>
    </ion-card-content>
  </ion-card>

  <!-- intentando llamar recetas -->
  <ion-card color="light" style="margin-top: 50px;">
    <ion-card-header>
      <ion-title>Comidas</ion-title>
    </ion-card-header>
    <ion-item color="light">
      <ion-select placeholder="Seleccionar" [compareWith]="compareWith" [(ngModel)]="categoria">
        <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{ cat.strCategory }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item color="light">
      {{categoria.strCategoryDescription}}
    </ion-item>
  </ion-card>

</ion-content>