<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" size="small">
      <ion-back-button style="color: white;" text="Volver"></ion-back-button>
    </ion-button>
    <div slot="end" color="light"
      style="width: 80px; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 18px;"
      (click)="salir()">Salir
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <!-- Childrens -->
  <ion-router-outlet></ion-router-outlet>

  <!-- Tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home/resumen']">
        <ion-icon name="fitness-outline"></ion-icon>
        Resumen
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home/plan-nutricional']">
        <ion-icon name="fast-food-outline"></ion-icon>
        Plan
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home/mediciones']">
        <ion-icon name="scale-outline"></ion-icon>
        Mediciones
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home/datos-personales']">
        <ion-icon name="person-outline"></ion-icon>
        Datos personales
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <!-- CREAR HTML CAMARA, MEJOR DICHO COPIAR -->

</ion-content>